@font-face {
    font-family: fonte1;
    src: url(../assets/fonts/CircularSpUIv3T-Bold.8d0a45cc.woff2);
}

@font-face {
    font-family: fonte2;
    src: url(../assets/fonts/CircularSpUIv3T-Book.3466e0ec.woff2);
}

@font-face {
    font-family: fonte3;
    src: url(../assets/fonts/CircularSpUIv3T-Light.afd9ab26.woff2);
}

*{
    margin: 0px;
    box-sizing: border-box;
}

a:link, a:visited, a:active{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}